/* menu */

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuQuantity {
    margin-left: 40px;
    margin-right: 40px;
}

.menuPrice {
    margin-right: 40px;
}

#totalTitle {
    margin-left: 40px;
    margin-right: 40px;
}

.numberInput {
    width: 80px;
    height: 20px;
}

form {
    padding: 40px 150px 40px 150px;
    border: 1px solid black;
}

.itemRow {
    justify-content: space-between;
    align-items: center;
    display: flex;
}



/* cart */


/* cash  */


/* credit */

#credit {
    outline: 1px solid black;
}

#credit form div {
    display: block;
}

#credit input {
    box-sizing: border-box;
}

.totalRow {

    display: flex;
    justify-content: flex-end;
}


/* receipt */